{% extends "folders/base_folder.html" %}

{% block title %}
	Win-OS/2 Accessories
{% endblock %}

{% block content %}
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/write.png" />
			<p>Write</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/paint.png" />
			<p>Paint Brush</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/calc.png" />
			<p>Calculator</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/clock.png" />
			<p>Clock</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/sound.png" />
			<p>Sound Recorder</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/card.png" />
			<p>Card File</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/calendar.png" />
			<p>Calendar</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/charmap.png" />
			<p>Character Map</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/notepad.png" />
			<p>Notepad</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/mplayer.png" />
			<p>Media Player</p>
		</a>
	</div>
{% endblock %}