div#menu, div#toolbar, div#addressbar {
	background: #cecfce;
	line-height: 20px;
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #848284;
}

div#menu ul {
	margin: 0px;
	padding: 0px;
}

div#menu li {
	border: 1px solid #cecfce;
	display: inline-block;
	list-style: none;
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	padding: 1px 4px;
}

div#menu li:hover {
	border-left: 1px solid #848284;
	border-top: 1px solid #848284;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

div#toolbar {
	line-height: 28px;
	background: #cecfce url(/appmedia/imgs/web/toolbar.png) top left no-repeat;
}

div#addressbar {
	line-height: 1em;
	padding-left: 10px;
	padding-right: 40px;
	padding-bottom: 2px;
}

#url_input {
	width: 100%;
}






ul#hmenu {
  	height: 28px;
}

ul#hmenu li {
	float: left;
	display: inline;
	list-style: none;
	position: relative;
	height: 24px;
}

ul#hmenu ul {
	background: #cecfce;
	width: 177px;
	list-style: none;
	display: none;
	position: absolute;
	top: 27px;
	left: 0;
	border: 1px solid #848284;
}

ul#hmenu ul:after {
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
}

ul#hmenu ul li {
	background: #cecfce;
	width: 160px;
	float: left;
	display: block !important;
	display: inline;
	padding: 0px;
	padding-left: 15px;
}

ul#hmenu li.br, ul#hmenu a.br {
	background: #000000!important;
	height: 1px!important;
	padding: 0px;
	width: 170px;
	
}

/* Main Menu */
ul#hmenu a {
	float: none !important;
	float: left;
	display: block;
	text-decoration: none;
	height: auto !important;
	height: 1%;
	color: #000000;
}

/* Main Menu Hover */
ul#hmenu a:hover,
ul#hmenu li:hover a,
ul#hmenu li.iehover a {
	color: #000000;
}

/* Second Menu */
ul#hmenu li:hover li a,
ul#hmenu li.iehover li a {
	float: none;
	background: #cecfce;
	color: #000000;
}

/* Second Menu Hover */
ul#hmenu li:hover li a:hover,
ul#hmenu li:hover li:hover a,
ul#hmenu li.iehover li a:hover,
ul#hmenu li.iehover li.iehover a {
	color: #000000;
}

ul#hmenu ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 160px;
}

ul#hmenu li:hover ul ul,
ul#hmenu li.iehover ul ul {
	display: none;
}

ul#hmenu li:hover ul,
ul#hmenu ul li:hover ul,
ul#hmenu li.iehover ul,
ul#hmenu ul li.iehover ul {
	display: block;
}
