{% extends "folders/base_folder.html" %}

{% block title %}
	Help
{% endblock %}

{% block content %}
	<style>
		.system_text {
			font: 11px system;
			font-weight: bold;
		}
	</style>

	<p class="system_text">
		The desktop is a folder object that 
		represents the top of your desk. It has 
		objects that you can move around and 
		work with.
	</p>
	
	<p class="system_text">
		Use the choices in the pop-up menu for 
		the desktop to do such tasks as:
	</p>
	<ul class="system_text">
		<li>Arranging the icons on the desktop
		<li>Finding an object
		<li>Locking the keyboard and mouse
		<li>Shutting down the operating system
		<li>Changing the characteristics of the
		desktop folder
	</ul>
{% endblock %}