{% extends "folders/base_folder.html" %}

{% block title %}
	Win-OS/2 Main
{% endblock %}

{% block content %}
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/fileman.png" />
			<p>File Manager</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/control.png" />
			<p>Control Panel</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/print.png" />
			<p>Print Manager</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/clipboard.png" />
			<p>Clipboard Viewer</p>
		</a>
	</div>
	<div class="folder_icon">
		<a href="">
			<img src="/appmedia/imgs/win/setup.png" />
			<p>WIN-OS/2 Setup</p>
		</a>
	</div>
{% endblock %}